GEMINI_API_KEY=
GEMINI_MODEL(optional)=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_MEDIA_WS_URL=
TWILIO_FROM_NUMBER=
TWILIO_TO_NUMBER=
AUTO_CALL=false  # set to true to initiate a call on server startup
ENABLE_NGROK=false  # set to true to start ngrok on server launch
NGROK_AUTH_TOKEN=  # optional if you want a stable ngrok tunnel
